.option {
    position: relative;
    display: flex;
    align-items: center;
    gap: clamp(var(--space-200), 0.0458rem + 4.0712vw, var(--space-400));
    padding: clamp(var(--space-200), 0.4286rem + 1.1905vw, var(--space-300));
    border: 3px solid transparent;
    border-radius: 24px;
    box-shadow: 0 var(--space-200) var(--space-500) 0 rgba(#8FA0C1, 14%);
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-button);

    &__value {
        max-inline-size: 60%;
    }

    &__letter {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        width: clamp(2.5rem, 1.546rem + 4.0712vw, 3.5rem);
        height: clamp(2.5rem, 1.546rem + 4.0712vw, 3.5rem);
        background-color: var(--clr-grey-50);
        color: var(--clr-grey-500);
    }

    &:focus {
        outline-color: var(--clr-purple-600);
        border-color: var(--clr-purple-600);
    }

    &:disabled {
        cursor: auto;
    }


    &::after {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: clamp(2rem, 1.523rem + 2.0356vw, 2.5rem);
        height: clamp(2rem, 1.523rem + 2.0356vw, 2.5rem);
        right: 16px;
    }

    &--selected, &:hover:not(:disabled) {
        border-color: var(--clr-purple-600);

        & > .option__letter {
            color: var(--clr-white);
            background-color: var(--clr-purple-600);
        }
    }

    &--correct {
        border-color: var(--clr-green-500);
        & > .option__letter {
            color: var(--clr-white);
            background-color: var(--clr-green-500);
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/images/icon-correct.svg");
        }
    }

    &--answer::after {
        content: "";
        position: absolute;
        background-image: url("/images/icon-correct.svg");
    }

    &--error {
        border-color: var(--clr-red-500);
        & > .option__letter {
            color: var(--clr-white);
            background-color: var(--clr-red-500);
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/images/icon-error.svg");
        }
    }
}

@media screen and (min-width: 48em) {
    .option {
        &__value {
            max-inline-size: 75%;
        }
    }
}