.toggle-container {
    display: inline-flex;
    align-items: center;
    gap: clamp(var(--space-100), 0.0229rem + 2.0356vw, var(--space-200));
}

.theme-logo {
  height: clamp(1rem, 0.523rem + 2.0356vw, 1.5rem);
}

.switch {
  position: relative;
  width: clamp(2rem, 1.046rem + 4.0712vw, 3rem);
  height: clamp(1.25rem, 0.773rem + 2.0356vw, 1.75rem);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--clr-purple-600);
}

.slider:before {
  position: absolute;
  content: "";
  height: clamp(0.75rem, 0.273rem + 2.0356vw, 1.25rem);
  width: clamp(0.75rem, 0.273rem + 2.0356vw, 1.25rem);
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--clr-purple-600);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-purple-600);
}

input:checked + .slider:before {
  -webkit-transform: translateX(clamp(0.813rem, 0.395rem + 1.7812vw, 1.25rem));
  -ms-transform: translateX(clamp(0.813rem, 0.395rem + 1.7812vw, 1.25rem));
  transform: translateX(clamp(0.813rem, 0.395rem + 1.7812vw, 1.25rem));
}

/* Rounded sliders */
.slider.round {
  border-radius: 999px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun, .moon {
  background-size: contain;
  background-repeat: no-repeat;
  height: clamp(1rem, 0.523rem + 2.0356vw, 1.5rem);
  width: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
}

.sun {
  background-image: var(--sun-icon);
}

.moon {
  background-image: var(--moon-icon);
}

@media screen and (prefers-reduced-motion: reduce) {
  .slider:before {
    -webkit-transition: none;
    transition: none;
  }
}
