.title {
    display: inline-flex;
    align-items: center;
    gap: clamp(var(--space-200), 0.5229rem + 2.0356vw, var(--space-300));
    padding: clamp(0rem, -0.9542rem + 4.0712vw, var(--space-200));
    
    &__icon {
        padding: clamp(0.375rem, 0.2557rem + 0.5089vw, var(--space-100));
        border-radius: 8px;

        &--html {
            background-color: var(--clr-orange-50);
        }

        &--css {
            background-color: var(--clr-green-100);
        }

        &--javascript {
            background-color: var(--clr-blue-50);
        }

        &--accessibility {
            background-color: var(--clr-purple-100);
        }
    }
}