.title {
    display: inline-flex;
    align-items: center;
    gap: clamp(var(--space-200), 0.5229rem + 2.0356vw, var(--space-300));
    padding: clamp(0rem, -0.9542rem + 4.0712vw, var(--space-200));
}