:root {

    // FONTS

    --text-2xl: clamp(5.5rem, 4.2676rem + 5.2582vw, 9rem);
    --text-xl: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
    --text-lg: clamp(1.25rem, 0.8979rem + 1.5023vw, 2.25rem);
    --text-md: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem);
    --text-sm: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
    --text-xs: 1.25rem;

    // COLORS

    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-grey-500: #626C7F;
    --clr-grey-50: #F4F6FA;
    --clr-blue-950: #2D3949;
    --clr-blue-900: #313E51;
    --clr-blue-850: #3B4D66;
    --clr-blue-500: #306AFF;
    --clr-blue-300: #ABC1E1;
    --clr-blue-100: #EDF1F9;
    --clr-blue-50: #EBF0FF;
    --clr-green-500: #2FD887;
    --clr-green-100: #E0FDEF;
    --clr-purple-600: #A729F5;
    --clr-purple-100: #F6E7FF;
    --clr-orange-400: #FF7E35;
    --clr-orange-50: #FFF5ED;
    --clr-red-500: #EE5454;
    --clr-box-shadow: #8FA0C1;

    // SPACING

    --space-100: 0.5rem;     // 8px
    --space-200: 1rem;       // 16px
    --space-300: 1.5rem;     // 24px
    --space-400: 2rem;       // 32px
    --space-500: 2.5rem;     // 40px
    --space-600: 3rem;       // 48px
    --space-800: 4rem;       // 64px
    --space-1600: 8rem;      // 128px
    --space-1800: 9rem;      // 144px
    --space-2300: 11.5rem;   // 184px
}