.quiz {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-500), -3.7857rem + 13.0952vw, var(--space-1600));
    
    &__number {
        font-size: var(--text-sm);
        font-style: italic;
        color: var(--description-color);
        margin-block-end: clamp(var(--space-200), 0.5229rem + 2.0356vw, var(--space-300));
    }

    &__question {
        font-size: var(--text-lg);
        line-height: 1.2;
        margin-block-end: clamp(var(--space-300), 0.5458rem + 4.0712vw, var(--space-500));
    }

    &__option-container {
        display: flex;
        flex-direction: column;
        gap: clamp(var(--space-200), 0.0458rem + 4.0712vw, var(--space-400));
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: clamp(var(--space-200), 0.5229rem + 2.0356vw, var(--space-300));
        margin-block-end: clamp(var(--space-200), 0.0458rem + 4.0712vw, var(--space-400));
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-100);
    color: var(--error-color);
    margin: 0 auto;
}

@media screen and (min-width: 90em) {
    .quiz {
        flex-direction: row;

        &__question-container, &__option-container {
            flex: 1;
        }

        &__option-container {
            flex: 1.2;
        }

        &__question {
            margin-block-end: var(--space-2300);
        }

        &__options {
            gap: var(--space-200);
        }
    }
}
