body {
    background-color: var(--clr-grey-50);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/pattern-background-mobile-light.svg");
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-block: clamp(var(--space-200), 0.0458rem + 4.0712vw, var(--space-400));
    padding-inline:  var(--space-300);
    width: 100%;
    
}

.header .toggle-container {
    margin-inline-start: auto;
}

main {
    padding: var(--space-400) var(--space-300);
    width: 100%;
}

@media screen and (min-width: 48em) {

    body {
        background-size: auto;
        background-image: url("/images/pattern-background-tablet-light.svg");
    }

    .header {
        padding-inline: 0;
    }

    .main {
        padding: 0;
        margin-block-end: clamp(var(--space-400), 0.8571rem + 2.381vw, var(--space-600));
    }
}

@media screen and (min-width: 90em) {

    body {
        background-size: cover;
        background-image: url("/images/pattern-background-desktop-light.svg");
    }

    .layout {
        max-width: 72.313rem;
    }
}