body {
    background-color: var(--clr-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/pattern-background-mobile-light.svg");
    
    @media screen and (min-width: 48em) {
        background-size: auto;
        background-image: url("/images/pattern-background-tablet-light.svg");
    }

    @media screen and (min-width: 90em) {
        background-size: cover;
        background-image: url("/images/pattern-background-desktop-light.svg");
    }

}

.header, .main {
    padding: var(--space-200) var(--space-300);
}

.header {
    display: flex;
    justify-content: flex-end;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-500), 1.0687rem + 6.1069vw, var(--space-800));
}

.home {

    &__title {
        font-size: var(--text-xl);
        font-weight: 300;
        margin-bottom: clamp(var(--space-200), -1.2857rem + 4.7619vw, var(--space-600));
    }

    &__title-highlight {
        display: block;
        font-weight: 500;
    }

    &__description {
        font-size: var(--text-sm);
        font-style: italic;
        color: var(--clr-grey-500);
        line-height: 1.5
    }

}

.subjects {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-200), 0.5229rem + 2.0356vw, var(--space-300));
}
