// Light Theme Settings
[data-theme=light] {
  --bg-color: var(--clr-grey-50);
  --font-color: var(--clr-blue-900);
  --description-color: var(--clr-grey-500);
  --error-color: var(var(--clr-red-500));
  --bg-button: var(--clr-white);
  --bg-image-mobile: url("/images/pattern-background-mobile-light.svg");
  --bg-image-tablet: url("/images/pattern-background-tablet-light.svg");
  --bg-image-desktop: url("/images/pattern-background-desktop-light.svg");
  --sun-icon: url("/images/icon-sun-dark.svg");
  --moon-icon: url("/images/icon-moon-dark.svg");
}

// Dark Theme Settings
[data-theme=dark] {
  --bg-color: var(--clr-blue-900);
  --font-color: var(--clr-white);
  --description-color: var(--clr-blue-300);
  --error-color: var(var(--clr-grey-50));
  --bg-button: var(--clr-blue-850);
  --bg-image-mobile: url("/images/pattern-background-mobile-dark.svg");
  --bg-image-tablet: url("/images/pattern-background-tablet-dark.svg");
  --bg-image-desktop: url("/images/pattern-background-desktop-dark.svg");
  --sun-icon: url("/images/icon-sun-light.svg");
  --moon-icon: url("/images/icon-moon-light.svg");
}